:root{
	
	/* Primary */
	--primary: #b8c724;
	--primary-hover: #a4b316;
	--primary-dark: #a7b70e;
	
	/* Primary RGBA */
	--rgba-primary-1: rgba(184,199,36,0.1);
	--rgba-primary-2: rgba(184,199,36,0.2);
	--rgba-primary-3: rgba(184,199,36,0.3);
	--rgba-primary-4: rgba(184,199,36,0.4);
	--rgba-primary-5: rgba(184,199,36,0.5);
	--rgba-primary-05: rgba(184,199,36,0.05);
	--rgba-primary-6: rgba(184,199,36,0.6);
	--rgba-primary-7: rgba(184,199,36,0.7);
	--rgba-primary-8: rgba(184,199,36,0.8);
	--rgba-primary-9: rgba(184,199,36,0.9);
	
	/* Other */
	--secondary: #232323;
	--theme-text-color: #fff;
	--title: #000000;
	
}
